CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*
clangd/
cmake-build-debug/
.idea/
build.ninja
.cmake/
.xmake/
/.ninja_deps
/.ninja_log
/usclexample
bin/
tests/
rust/output/
rust/target/
FlatCombining_rc/target