[submodule "proportional-share"]
	path = c/proportional-share
	url = https://github.com/taooceros/proportional-share.git
	branch = master
[submodule "Locks-data"]
	path = c/Locks-data
	url = https://github.com/taooceros/Locks-data.git
[submodule "libpqueue"]
	path = c/libpqueue
	url = https://github.com/vy/libpqueue.git
