[submodule "proportional-share"]
	path = proportional-share
	url = https://github.com/taooceros/proportional-share.git
	branch = master
[submodule "Locks-data"]
	path = Locks-data
	url = https://github.com/taooceros/Locks-data.git
[submodule "libpqueue"]
	path = libpqueue
	url = https://github.com/vy/libpqueue.git
