name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./rust
    steps:
      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64
      - uses: rui314/setup-mold@v1
      # - uses: xmake-io/github-action-setup-xmake@v1
      #   with:
      #     xmake-version: latest
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt, clippy
      - uses: mbrobbel/rustfmt-check@master
        with:
          args: --manifest-path=rust/Cargo.toml
          token: ${{ secrets.GITHUB_TOKEN }}
          mode: "review"
      - name: Load/Store Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "rust -> rust/target"
      - name: Build
        run: cargo build --release --verbose
      - name: Run tests
        run: cargo test --release --verbose
